.container-titulo{
    margin-top: 100px;
    text-align: center;
    padding-bottom: 25px;
}


.container-form{
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    background-color: #8492A6;
    border-radius: 25px;
    max-width: 55%;
    margin: 0 auto;
    font-size: 25px;
    padding: 15px;
}

.container-role-input{
    display: block;
    text-align: center;
    margin-left: 20px;
}

.e-inputs{
    height: 30px;
    width: 55%;
    border: 1px solid #8492A6;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
    padding: 0 10px 0 10px;
}

.role-input{
    display: block;
    text-align: right;
    width: 600px;
    margin-top: 10px;
}

.finish{
    margin-bottom: 20px;
}

.container-buttons{
    display: flex;
    justify-content: center;
}

.btn-cadastro{
    width: 30%;
    margin: 20px;
}