.container-text{
    width: 70%;
    margin: 0 auto;
    display: grid;
    position: relative;
    padding: 20px;
    background: #dcdcdc;
    font-size: 18px;
    text-indent: 20px;
    border-radius: 25px;
    margin-bottom: 30px;
    margin-top: 20px;
}

p {
  margin: 0;
}